<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= t('.title') %></h1>
      <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-success float-right' %>
      <table class="table">
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:email)) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:name)) %></th>
          <td><%= current_user.name || "未設定" %></td>
        </tr>
      </table>
      <%= link_to "退会する", registration_path(current_user), method: :delete, data: { confirm: "退会後はログイン、LINE通知ができなくなります。よろしいですか？" }, class: 'btn btn-secondary float-right' %>
    </div>
  </div>
</div>
