<div class="col-md-4" style="padding-bottom:30px;">
  <div class="card h-100">
    <div class="card-header" id="<%= content.decorate.media_color %>"><%= content.title.truncate(18) %></div>
    <div class="card-body">
      <%= link_to content_path(content), method: :delete, data: { confirm: "削除しますか？" } do %><i class="far fa-trash-alt fa-lg"></i><% end %>
      <p class="card-text"><%= content.stream_i18n %>曜配信</p>
      <% if content.line_flag %>
        <div id="content<%= content.id %>"><%= link_to line_flag_path(id: content.id), :method => :delete, remote: true do %><div class="btn btn-success">LINE通知オン</div><% end %></div>
      <% else %>
        <div id="content<%= content.id %>"><%= link_to line_flags_path(id: content.id), :method => :post, remote: true do %><div class="btn btn-secondary">LINEで通知する</div><% end %></div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to content.url, target: :_blank, rel: "noopener noreferrer", class: "media-link" do %><%= content.media %>で観る<i class="fas fa-external-link-alt" style="padding-left: 5px;"></i><% end %>
    </div>
  </div>
</div>