<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @content) do |f| %>
    <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2 style="padding: 15px;"><%= pluralize(@content.errors.count, "件の入力エラー") %>:</h2>
      <ul>
        <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="modal-header">
      <h5 class="modal-title">New Content</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group field">
        <%= f.label :title , class: "form-control-label"%>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group select">
        <%= f.label :media, class: "form-control-label"%>
        <%= f.select :media, [["Amazonプライム", "Amazonプライム"], ["Abemaビデオ", "Abemaビデオ"], ["Netflix", "Netflix"]], include_blank: "選択して下さい", class: "form-control" %>
      </div>
      <div class="form-group field">
        <%= f.label :url , class: "form-control-label"%>
        <%= f.text_field :url, class: "form-control" %>
      </div>
      <div class="form-group select">
        <%= f.label :stream, class: "form-control-label"%>
        <%= f.select :stream, Content.streams.keys.map {|k| [I18n.t("enums.content.stream.#{k}"), k]}, class: "form-control" %>
      </div>
      <div class="form-group field">
        <%= f.label :episode , class: "form-control-label"%>
        <%= f.number_field :episode, class: "form-control" %>
      </div>
      <div class="form-group field">
        <%= f.label :new_flag , class: "form-control-label"%>
        <%= f.select :new_flag, [['オン', true], ['オフ', false]], { include_blank: true }, class: "form-control" %>
      </div>
    </div>
    <div class="modal-footer actions">
      <%= f.submit class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>

<style>
  .modal-dialog {
    max-width: inherit;
    width: 70%;
    margin: 0 auto;
    padding-top: 10%;
  }
</style>