<p>タイトル一覧</p>
<%= link_to 'タイトルを追加する', new_content_path, remote: true, class: "btn btn-outline-success" %>
<div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<p style="padding-top: 20px;"><%= link_to "時間割リストへ", schedules_path %></p>

<table class="table" id="contents" border="2" style="table-layout:fixed;">
  <tr id="t-header">
    <th style="width: 5%;">id</th>
    <th style="width: 33%;">タイトル</th>
    <th style="width: 17%;">メディア</th>
    <th style="width: 10%;">配信曜日</th>
    <th style="width: 15%;">URL</th>
    <th style="width: 10%;">編集</th>
    <th style="width: 10%;">削除</th>
  </tr>
  <%= render @contents %>
</table>

<table class="table">
  <tr>
    <th>タイトル</th>
    <th>登録数</th>
    <th>配信話数</th>
    <th>評価点</th>
    <th>URL</th>
  </tr>
<% @works.each do |content| %>
  <tr>
    <td><%= content["node"]["title"] %></td>
    <td><%= content["node"]["watchersCount"] %></td>
    <td><%= content["node"]["episodesCount"] %></td>
    <td><%= content["node"]["satisfactionRate"] %></td>
    <td><%= link_to '公式サイト', content["node"]["officialSiteUrl"], target: :_blank, rel: "noopener noreferrer" %></td>
  </tr>
<% end %>
</table>