<div class="form-wrapper">
  <h5 class="form-title">LINE連携用ログインフォーム</h5>
  <%= form_with url: line_link_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <%= f.hidden_field :link_token, :value => @link_token %>
    <div class="submit-button">
      <%= f.submit "ログイン", class: "btn btn-dark", id: "login-button" %>
    </div>
  <% end %>
  <div class="link-message">
    <p>※ ログインするとアカウント連携が完了します。</p>
    <p>※ アカウント連携はトーク画面のメニューからいつでも解除することができます。</p>
  </div>
</div>
<div class="end-wrraper">
  <h5>アカウントをお持ちでない方</h5>
  <p style="color:gray;">LINEで登録&アカウント連携</p>
  <%= link_to user_line_omniauth_authorize_path, method: :post do %>
      <%= image_tag 'line_btn.png', size: '150x43' %>
  <% end %>
</div>