<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @schedule) do |f| %>
    <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2 style="padding: 15px;"><%= pluralize(@schedule.errors.count, "件の入力エラー") %>:</h2>
      <ul>
        <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="modal-header">
      <h5 class="modal-title">New Schedule</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :content_id , class: "form-control-label"%>
        <%= f.collection_select :content_id, @contents, :id, :title, { prompt: "選択してください" }, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :day, class: "form-control-label"%>
        <%= f.select :day, [["月","月"], ["火","火"], ["水","水"], ["木","木"], ["金","金"], ["土","土"], ["日","日"]], include_blank: "選択して下さい", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :order, class: "form-control-label"%>
        <%= f.select :order, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: "選択して下さい", class: "form-control" %>
      </div>
    </div>
    <div class="modal-footer actions">
      <%= f.submit class: "btn btn-primary"%>
    </div>
    <% end %>
  </div>
</div>