$('#<%= "#{@schedule.day}" + "#{@schedule.position}" %>').append('<div><%= link_to edit_schedule_path(@schedule.id), remote: true do %><i class="far fa-edit float-right"></i><% end %></div>');
$('#<%= "#{@schedule.day}" + "#{@schedule.position}" %>').append('<div><%= link_to @schedule.content.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-primary" do %><p><%= @schedule.content.title.truncate(15) %></p><% end %></div>');
<% if @schedule.content.new_flag %>
$('#<%= "#{@schedule.day}" + "#{@schedule.position}" %>').append('<div class="new-flag"><%= 'New!' %></div>');
$('#<%= "#{@schedule.day}" + "#{@schedule.position}" %>').append('<div class="flag-off"><%= link_to 'みた', flag_off_content_path(@schedule.content.id, params: { content: { new_flag: false } }), :method => :patch %></div>');
<% end %>
$("#schedule-modal").modal("hide");
console.log('時間割を作成しました');