<p><%= link_to 'タイトルリストへ >>', contents_path, style: "color: gray; font-size:0.9rem;" %></p>
<p><%= link_to '時間割を追加する', new_schedule_path, remote: true, class: "btn btn-outline-secondary" %></p>

<table class="table table-bordered table-responsive">
  <div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <thead class="thead-dark">
    <tr>
      <th width="9%"></th>
      <th class="align-middle" width="13%" scope="col">月</th>
      <th class="align-middle" width="13%" scope="col">火</th>
      <th class="align-middle" width="13%" scope="col">水</th>
      <th class="align-middle" width="13%" scope="col">木</th>
      <th class="align-middle" width="13%" scope="col">金</th>
      <th class="align-middle" width="13%" scope="col">土</th>
      <th class="align-middle" width="13%" scope="col">日</th>
    </tr>
  </thead>
  <tbody>
  <% 1.upto(5) do |i| %>
    <tr>
      <th><%= i %></th>
      <td id="月<%= i %>" class="align-middle"></td>
      <td id="火<%= i %>" class="align-middle"></td>
      <td id="水<%= i %>" class="align-middle"></td>
      <td id="木<%= i %>" class="align-middle"></td>
      <td id="金<%= i %>" class="align-middle"></td>
      <td id="土<%= i %>" class="align-middle"></td>
      <td id="日<%= i %>" class="align-middle"></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
<% @schedules.each do |schedule| %>
  $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to edit_schedule_path(schedule.id), remote: true do %><i class="far fa-edit float-right"></i><% end %></div>');
  <% if schedule.content.new_flag %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to schedule.content.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary" do %><p><%= schedule.content.title.truncate(15) %></p><% end %></div>');
  <% else %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to schedule.content.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-secondary" do %><p><%= schedule.content.title.truncate(15) %></p><% end %></div>');
  <% end %>
  <% if schedule.content.new_flag %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div class="new-flag"><%= "New! #{schedule.content.episode}話 " %><%= link_to flag_off_content_path(schedule.content.id, params: { content: { new_flag: false } }), :method => :patch do %><span class="flag-off"><i class="far fa-check-circle"></i>みた<% end %></div>');
  <% end %>
<% end %>
</script>

<style>
.table {
  text-align: center;
  max-width: 750px;
}

td {
  width: 100px;
  height: 100px;
  min-width: 80px;
  max-height: 40px;
}

td i {
  color: gray;
  position: relative;
  bottom: 5px;
  left: 5px;
}

td p {
  line-height: 100%;
  padding-top: 10px;
  font-size: 0.7rem;
  text-align: center;
  min-width: 60px;
  max-height: 30px;
}

.new-flag {
  font-size: 0.6rem;
  padding-top: 5px;
}

.flag-off {
  color: gray;
}

.fa-check-circle {
  position: relative;
  top: 0px;
  left: 0px;
  color: gray;
}
</style>