<p>現在の視聴リスト</p>
<%= link_to '時間割を追加する', new_schedule_path, remote: true, class: "btn btn-outline-success" %>

<p style="padding-top: 20px;"><%= link_to 'タイトルリストへ', contents_path %></p>

<table class="table table-bordered table-responsive">
  <div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <thead class="thead-dark">
    <tr height="50px">
      <th width="9%"></th>
      <th class="align-middle" width="13%" scope="col">月</th>
      <th class="align-middle" width="13%" scope="col">火</th>
      <th class="align-middle" width="13%" scope="col">水</th>
      <th class="align-middle" width="13%" scope="col">木</th>
      <th class="align-middle" width="13%" scope="col">金</th>
      <th class="align-middle" width="13%" scope="col">土</th>
      <th class="align-middle" width="13%" scope="col">日</th>
    </tr>
  </thead>
  <tbody>
  <% 1.upto(5) do |i| %>
    <tr>
      <th height="100px"><%= i %></th>
      <td id="月<%= i %>" class="align-middle"></td>
      <td id="火<%= i %>" class="align-middle"></td>
      <td id="水<%= i %>" class="align-middle"></td>
      <td id="木<%= i %>" class="align-middle"></td>
      <td id="金<%= i %>" class="align-middle"></td>
      <td id="土<%= i %>" class="align-middle"></td>
      <td id="日<%= i %>" class="align-middle"></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
<% @schedules.each do |schedule| %>
$('#<%= "#{schedule.day}" + "#{schedule.position}" %>').html('<%= link_to schedule_path(schedule), method: :delete, data: { confirm: "削除しますか？" }, remote: true do %><i class="far fa-trash-alt float-right" style="color:gray;"></i><% end %>');
$('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<%= link_to edit_schedule_path(schedule.id), remote: true do %><i class="far fa-edit float-right" style="padding-bottom: 5px; padding-right: 4px; color:gray;"></i><% end %>');
$('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to schedule.content.url, target: :_blank, rel: "noopener noreferrer", type: "button", class: "btn btn-outline-primary", style: "font-size: 0.5rem;" do %><p><%= schedule.content.title.truncate(8) %></p><% end %></div>');
<% if schedule.content.new_flag %>
$('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div class="new-flag"><%= 'New!' %></div>');
$('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div class="flag-off"><%= link_to 'みた', flag_off_content_path(schedule.content.id, params: { content: { new_flag: false } }), :method => :patch %></div>');
<% end %>
<% end %>
</script>

<style>
.table {
  text-align: center;
}

td p {
  line-height: 100%;
  padding-top: 10px;
  white-space: nowrap;
}

.new-flag {
  font-size: 0.7rem;
}

.flag-off {
  font-size: 0.5rem;
  
}
</style>