<p><%= link_to 'タイトルリストへ >>', contents_path, style: "color: gray; font-size:0.9rem;" %></p>
<p><%= link_to '時間割を追加する', new_schedule_path, remote: true, class: "btn btn-outline-secondary" %></p>

<table class="table table-bordered table-responsive">
  <div id="content-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <thead class="thead-dark">
    <tr>
      <th width="9%"></th>
      <th class="align-middle" width="13%" scope="col">月</th>
      <th class="align-middle" width="13%" scope="col">火</th>
      <th class="align-middle" width="13%" scope="col">水</th>
      <th class="align-middle" width="13%" scope="col">木</th>
      <th class="align-middle" width="13%" scope="col">金</th>
      <th class="align-middle" width="13%" scope="col">土</th>
      <th class="align-middle" width="13%" scope="col">日</th>
    </tr>
  </thead>
  <tbody>
  <% 1.upto(5) do |i| %>
    <tr>
      <th><%= i %></th>
      <td id="Mon<%= i %>" class="align-middle"></td>
      <td id="Tue<%= i %>" class="align-middle"></td>
      <td id="Wed<%= i %>" class="align-middle"></td>
      <td id="Thu<%= i %>" class="align-middle"></td>
      <td id="Fri<%= i %>" class="align-middle"></td>
      <td id="Sat<%= i %>" class="align-middle"></td>
      <td id="Sun<%= i %>" class="align-middle"></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
<% @schedules.each do |schedule| %>
  $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').html('<div><%= link_to edit_schedule_path(schedule.id), remote: true do %><i class="far fa-edit float-right"></i><% end %></div>');
  <% if schedule.content.new_flag %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to schedule.content.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary", id: "title-card#{schedule.id}" do %><p><%= schedule.content.title.truncate(15) %></p><% end %></div>');
  <% else %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div><%= link_to schedule.content.url, target: :_blank, rel: "noopener noreferrer", class: "btn btn-outline-secondary" do %><p><%= schedule.content.title.truncate(15) %></p><% end %></div>');
  <% end %>
  <% if schedule.content.new_flag %>
    $('#<%= "#{schedule.day}" + "#{schedule.position}" %>').append('<div class="new-flag" id="new-flag<%= schedule.id %>"><%= "New! #{schedule.content.episode}話 " %><%= link_to flag_off_content_path(schedule.content.id), :method => :patch, remote: true do %><%= image_tag 'viewed_button.png', class: "viewed-button" %><% end %></div>');
  <% end %>
<% end %>
</script>