<div class="top-wrraper">
  <div class="main-title">
    <%= image_tag 'top_logo.png', class: "img-fluid", width: "300rem" %>
  </div>
  <div class="top-login">
    <p><%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, class: "btn btn-dark" %></p>
    <p><%= link_to user_line_omniauth_authorize_path, method: :post do %><%= image_tag 'line_btn.png', size: '150x43' %><% end %></p>
  </div>
</div>

<div class="row" id="top-row">
  <div class="card" id="top-card">
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted">時間割で視聴管理</h5>
      <p class="card-text">ワンクリックで再生ページへ</p>
    </div>
    <%= image_tag 'sample_table.png', class: "bd-placeholder-img card-img-top" %>
  </div>
  <div class="card" id="top-card">
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted">最新話のLINE通知</h5>
      <p class="card-text">毎朝6:30にアニメの最新話が届く</p>
    </div>
    <%= image_tag 'sample_line.jpg', class: "bd-placeholder-img card-img-top" %>
  </div>
</div>

<div class="movie_block">
  <iframe id="youtube_iframe" width="560" height="315" src="https://www.youtube.com/embed/Ip7KysRyO40" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>