<!DOCTYPE html>
<html>
  <head>
    <title>Subani</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "サブスクアニメ時間割", root_path, class: "p-2 text-dark" %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if user_signed_in? %>
          <%= link_to "時間割", schedules_path, class: "p-2 text-dark" %>
          <%= link_to "タイトル一覧", contents_path, class: "p-2 text-dark" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "p-2 text-dark" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success" %>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
        <% end %>
      </nav>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
