<!DOCTYPE html>
<html>

<head>
  <title>Subani</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/66cb772eea.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= display_meta_tags(default_meta_tags) %>
  <% if Rails.env.production? %>
    <%= render 'layouts/google_analytics' %>
  <% end %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" id="header-menu">
    <%= link_to "サブスクアニメ時間割", root_path, class: "navbar-brand", id: "title-logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% unless current_user.guest %>
        <li class="nav-item">
          <%= link_to "マイページ", profile_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "時間割", schedules_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "タイトル一覧", contents_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            タイトル登録
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Amazonから登録", amazon_list_contents_path, class: "dropdown-item" %>
            <%= link_to "Abemaから登録", abema_list_contents_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>  
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <% if alert %>
  <p id="alert-message" class="alert alert-info"><%= alert %></p>
  <% end %>
  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>

</html>